@font-face { font-family: 'NIXGONM-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'NIXGONM-Vb', sans-serif;
    cursor: url(../img/cursor_last.cur), auto !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
a{
    text-decoration: none;
    color: #222;
    cursor: url(../img/cursor_hover_last.cur), auto !important;
}
h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'NIXGONM-Vb', sans-serif;
    word-break: keep-all;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear{clear: both;}

.fadein1, .fadein2{
    opacity: 0;
    margin-top: 200px;
}

/*div.blank*/
div.blank{ width: 100%; height: 300px; position: relative; padding: 10px 0; clear: both; }
div.blank div.arrow{ width: 20px; height: 100%; margin: 0 auto; }
div.blank div.arrow img{ width: 20px; position: absolute; bottom: 10px; left: auto; }